@keyframes blink {
    0%, 80%, 100% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}

.animate-blink {
    animation: blink 1.4s infinite both;
}

.animation-delay-200 {
    animation-delay: 0.2s;
}

.animation-delay-400 {
    animation-delay: 0.4s;
}


tr {
    border-top: 1px solid #c6cbd1;
    background: #fff;
  }
  
  th,
  td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
  }
  
  table tr:nth-child(2n) {
    background: #f6f8fa;
  }

  @media (prefers-color-scheme: dark) {
    tr {
      border-top: 1px solid #4a4a4a;
      background: #333;
    }
  
    th,
    td {
      padding: 6px 13px;
      border: 1px solid #555;
    }
  
    table tr:nth-child(2n) {
      background: #444;
    }
    table{
        margin-top:1.5rem;
        margin-bottom:1.5rem;
    }
  }